{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/index.css' %}"">
    <title>Document</title>
</head>
<body>

<form action="/" method = 'POST'>
    {% csrf_token %}
    <label for="fname">Name:</label>
     <input type="text" id="fname" name="entername">
     <input type="submit" value="Submit"><br><br>
</form>


<ul>
    {% for name in names %}
       <li>{{name.student_name}}</li>
    {% endfor %}   
</ul>
    
</body>
</html>